font-family:sans-serif

h1{
color:red;

}
active{
color:black;
}
body{
background:white url
(http://images.wikia.com/adventuretimewithfinnandjake/images/3/3a/S1e1_flip_out.png)
repeat;
}
h2{
font-size:1.5em;
background-color: #ccc;
margin: 20px;
padding: 40px;
}
